/* Global Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 0;
  height: 100vh;
  background: #333;
}

.box {
  width: 80%;
  max-width: 850px;
  height: 500px;
  margin: 10% auto;
  box-shadow: 0 5px 10px blue;
  position: relative;
  overflow: hidden;
}

img {
  width: 100%;
  max-width: 850px;
  height: 100%;
  object-fit: cover;
  position: absolute; /* Fixe la position pour toutes les images */
}

/* Animations pour chaque image */
.img1 {
  animation: image1 10s infinite;
}
.img2 {
  animation: image2 10s infinite;
}
.img3 {
  animation: image3 10s infinite;
}
.img4 {
  animation: image4 10s infinite;
}

/* Keyframes */
@keyframes image1 {
  0%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes image2 {
  0%,
  50% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
}
@keyframes image3 {
  0%,
  75% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes image4 {
  0%,
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
}
